<!DOCTYPE html>
<html>
	{% block head %}
	<head>
		<title>Profile</title>

	    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    	<link href="{{url_for('static', filename='bootstrap/css/bootstrap-theme.min.css')}}" rel="stylesheet">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	    <![endif]-->

    	<style>
    	html, body {
		    height: 100%;
		}
		 
		#content {
		    /* ... */
		    padding-bottom: 81px; /* El tamaño del footer para evitar el sobreposicionamiento */
		    /*padding-top: 40px;*/
		}
		 
		#footer {
		    width: 100%;
		    height: 81px;
		    position: absolute;
		    bottom: 0;
		    left: 0;
		}
    	</style>
    	
	</head>
    {% endblock head %}
	<body>
		{% block menu %}
		<nav class="navbar navbar-inverse" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Proyecto Imagenes</a>
		    </div>
		  </div><!-- /.container-fluid -->
		</nav>
		{% endblock menu %}

		<div class="container" id="content">
	    {% block content %}

	    {% endblock content %}
	    </div>

	    <div id="footer">
	        <hr />
	        {% block footer %}
	        <div class="container" align="center">
	            <p class="text-muted credit">Proyecto Final WEB 2.0 2014</p>
	        </div>
	        {% endblock footer %}
	    </div>

	</body>

<html>